<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>Homepage</title>
</head>

<body>
<h2>Student Homepage</h2>
<hr>
<p>
    Welcome to the student homepage!!!
</p>

<hr>

<p>
    User: <span sec:authentication = "principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<hr>
<div sec:authorize="hasRole('COMP')">
<p>
    <a th:href = "@{/comp}">COMP</a>
</p>
</div>

<div sec:authorize="hasRole('SBM')">
<p>
    <a th:href = "@{/sbm}">SBM</a>
</p>
</div>
<hr>
<div sec:authorize="hasRole('BIOT')">
    <p>
        <a th:href = "@{/biot}">BIOT</a>
    </p>
</div>
<hr>
<form action = "#" th:action = "@{/logout}" method = "POST">
    <input type = "submit" value = "Logout" />
</form>

</body>

</html>